rbacApiVersion: rbac.authorization.k8s.io
namespace: default
catalog_namespace: default
imagestream: false
alm:
  replicaCount: 1
  image:
    ref: quay.io/coreos/olm:master-def43583
    pullPolicy: Always
  service:
    internalPort: 8080

catalog:
  replicaCount: 1
  image:
    ref: quay.io/coreos/catalog:master-def43583
    pullPolicy: Always
  service:
    internalPort: 8080

package:
  replicaCount: 1
  image:
    ref: quay.io/coreos/package-server:master-def43583
    pullPolicy: Always
  service:
    internalPort: 443

catalog_sources:
 - rh-operators
